@import "tailwindcss";

:root {
  --background: #32176e;
  --background-light: #4D229E;
  --foreground: #ffffff;
  --border-highlight: #7333e3;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
